.mainHeader {
    background-color: rgb(var(--primary-accent-rgb));

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "logo navbar";

    h1 {
        padding: 0.5em;
    }
}

@media (max-width: 768px) {
    .mainHeader {
        grid-template-columns: 1fr;
        grid-template-areas: "logo" "navbar";
        justify-items: center;

        h1 {
            text-align: center;
        }
    }
}

.navbar {
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.15em;
    user-select: none;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 2em;
    }

    li {
        list-style-type: none;
        text-align: center;
        padding: auto;
        height: 100%;

        a {
            display: flex;
            align-items: center;
            padding: 1em 1em;
            height: 100%;
            text-anchor: middle;

            transition: background 0.2s ease-in;

            &:hover {
                background-color: rgb(var(--secondary-accent-rgb));
                border-bottom: 2px solid rgb(var(--foreground-rgb));
                border-top: 2px solid #0000;
            }
        }
    }
}

.active {
    border-bottom: 2px solid rgb(var(--foreground-rgb));
}

.mainContent {
    margin: 2em auto;
    border-radius: 1em;
    padding: 1em;

    display: flex;
    justify-content: center;
    background-color: rgb(var(--background-end-rgb));
}

@media (max-width: 768px) {
    .mainContent {
        margin: 0;
        margin-top: 1em;
    }
}
