.popup {
    display: table;
    // Center the children
    margin: 0 auto;


    .content {
        margin: 1em;
        padding: 1em;
        // margin: 0 auto;
        // width: min-content;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background: rgb(var(--secondary-accent-rgb));
        border-radius: 1em;

        &>h3 {
            font-size: 1.5em;
            margin: 0.5em 0;
        }

    }
}
